* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  background-color: #FAFAFA;
}

.first-container {
    width: 100vw;
    height: 100vw;
    background-image: url(..//assets/home-1.png);
    background-size: cover;
    background-position: center;
    
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
    padding: 5vw;
    color: white; 
}

.story-block {
    width: 45vw;
    padding: min(1rem, 8%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 20px;
    text-align: center;
}

.story-block h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5vw;
    margin-bottom: 1vw;
}

.story-block p {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12vw;
    position: relative;
    top: -10vw; 
}

.block-1 {
    display: flex;
    position: relative;
    margin-bottom: 10vw;
}

.text-1 .transparent-big {
    position: absolute;  
    top: -17vw;           
    left: -5vw;          
    
    font-family: 'Playfair Display', serif;
    font-size: 20vw;     
    font-weight: 700;
    
    color: rgba(0, 0, 0, 0.2); 
    
    z-index: 1;
}

.text-1 {
    padding-right: 5vw;
}

.text-1 h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.7vw;
    margin-bottom: 2vw;
}

.text-1 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

.block-1 .img-text-1 {
    width: 30vw;
    border-radius: 3vw;
    position: relative;
    top: -10vw; 
}

.block-2 {
    display: flex;
    position: relative;
    margin-bottom: 10vw;
}

.transparent-big {
    position: absolute;  
    top: -17vw;           
    left: 30vw;          
    
    font-family: 'Playfair Display', serif;
    font-size: 20vw;     
    font-weight: 700;
    
    color: rgba(0, 0, 0, 0.2); 
    
    z-index: 1;
}

.text-2 {
    padding-left: 5vw;

}

.text-2 h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.7vw;
    margin-bottom: 2vw;
}

.text-2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

.block-2 .img-text-2 {
    width: 30vw;
    border-radius: 3vw;
    position: relative;
    top: -10vw; 
}