*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Footer - code */

footer {
    width: 100vw;
    height: auto;
    opacity: 1;
    margin: 1vw;
    bottom: 0;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
}

.footer-about {
    width: auto;
    height: auto;
    opacity: 1;
}

.footer-logo {
    width: 60%;
    max-width: 500px;
    height: auto;
    display: block;
}

.footer-gray-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    color: #a0a0a0;
     font-style: italic;

}

.social-media {
    margin: 10px 0px 0px 0px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-media a {
    padding: 5px;
}

.contact-info p {
    font-size: 16px;
    color: #555555;
    margin: 8px 0;
}

.contact-info .label {
    color: #aaaaaa;
    margin-right: 8px;
}

.copy-right {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.footer-link {
    padding-right: 5vw;
}

.footer-menu {
    margin: 20px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu a {
    text-decoration: none;
    color: black;
}

.footer-menu li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-menu a:hover {
    color: blue;
}

.footer-link h4{
    margin: 20px;
    padding: 0;
}

.footer-link ul {
    list-style: none;
    margin: 20px;
    padding: 0;
}

.footer-link a {
    text-decoration: none;
    color: black;
}

.footer-link li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-link a:hover {
    color: blue;
}
