* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: 'Inter', sans-serif; 
  color: #333333;
}
body a {
  text-decoration: none;
  color: inherit;
}

/* BANNER */
.banner{
  width: 100vw;
  height: auto;
  margin-bottom: 24px;
}
.banner img{
  width: 100%;
  height: auto;
}

/* FRONT PAGE (SLIDER + TIN TỨC MỚI) */
.front-page{
  display: flex;
  margin: 12px 0.3vw 24px 0.3vw;
  gap: 2vw;
  max-width: 1350px; 
  max-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
}

.slider{
  width: 70%; 
  margin-left: 0.5vw;
  margin-right: 0.25vw;
  display: flex;
  flex-direction: column;
}

.slide-item{
  position: relative;
  display: flex;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}
.slide-item img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 20px;
}
.slide-item-1-caption{
  position: absolute;
  top: 40px;
  right: 40px;
  color: white;
  font-family: 'Playball', cursive;
  font-size: 5em;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.news{
  display: flex;
  width: 30%;
  max-height: 80vh;
  flex-direction: column;
  background-color: #EEEEEE;
  border-radius: 20px;
  padding: 12px 15px;
}
.news-header{
  max-height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25vw 0 0.5vw 0; 
  padding: none;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.news-header h1{
  font-size: 150%;
  margin: none;
  padding: none;
  font-weight: 700;
}
.news-header a{
  text-decoration: none;
  color: black;
  font-size: 90%;
  margin: none;
  padding: none;
  font-weight: 500;
}
.news-header a:hover{
  text-decoration: underline;
}

.news-main-item{
  width: 100%;
  max-height: 25%;
  margin-bottom: 5%;
  display: block;
  position: relative;
}
.news-main-item img{
  display: block;
  width: 100%;
  max-height: 100%;
  height: auto;
  margin: none;
  padding: none;
  border-radius: 10px;
}
.news-main-caption {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.2em;
  color: white;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  text-align: center;
  text-shadow:
    -0.5px -0.5px 0 black,
    0 -0.5px 0 black,
    0.5px -0.5px 0 black,
    0.5px 0 0 black,
    0.5px 0.5px 0 black,
    0 0.5px 0 black,
    -0.5px 0.5px 0 black,
    -0.5px 0 0 black;
}
.news-main-caption h2 {
    font-size: 0.8em;
    font-weight: 700;
    margin: 5px 0;
}
.news-main-caption h2::before, .news-main-caption h2::after {
  display: inline-block;
  content: "";
  border-top: 1px solid white;
  margin: 0px 8px;
  width: 20%;
  transform: translateY(-4px);
}
.news-main-caption p {
    line-height: 1.3em;
}

.news-item{
  display: flex;
  height: 16%;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}
.news-item time::before, .news-item time::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #999999;
  margin: 0px 5px;
  width: 15%;
  transform: translateY(-4px);
}
.news-item h2 {
  font-size: 1em;
  font-weight: 700;
  margin: 0 0 5px 0;
  line-height: 1.2;
}
.news-item:first-child {
  border-top: 1px solid #CCCCCC;
}
.news-item:last-child {
  border-bottom: none;
}
.news-item img{
  width: 125px;
  height: 90%;
  object-fit: cover;
  border-radius: 5px;
  flex-shrink: 0;
}
.news-item p {
  font-size: 0.9em;
  margin: none;
  line-height: 1.3;
}
.news-item time {
  font-size: 0.75em;
  margin: none;
  color: #999;
}


/* NHÀ VĂN LỖI LẠC*/

.great-writers {
  max-width: 1350px; 
  margin: 40px auto;
  padding: 0 0.5vw;
}

.great-writers h1 {
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 40px;
  color: black;
}

.writer-item {
  display: inline-block;
  width: 22%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  padding: 0 10px;
  vertical-align: top;
}

.writer-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.writer-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.writer-item p {
  margin: 5px 0;
}

.writer-item p:nth-child(3) {
  font-weight: 500;
  color: #666;
  font-size: 0.9em;
}

.writer-item .quote {
  font-family: 'Pinyon Script', cursive;
  font-size: 0.95;
  line-height: 1.4;
  color: black;
  font-weight: 500;
  margin-top: 15px;
  padding: 0 10px;
}

/* MADAM BÌNH */

.People-of-the-Revolution {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  border: #2F3640 1px solid;
  border-radius: 10px;
  background-color: #2F3640;
  margin: 60px auto;
  padding: 20px 0.5vw;
}

.People-of-the-Revolution-wrapper {
  display: flex;
  width: 100%;
  max-width: 1650px;
  height: 60vh;
  margin: auto auto;
  align-items: stretch;
}

.People-of-the-Revolution-column {
  width: 100%;
  flex-grow: 1;
  padding: none;
}
.People-of-the-Revolution-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.People-of-the-Revolution .caption {
  width: 100%;
  padding: 0 10px;
  color: #CCCCCC;
}

.People-of-the-Revolution .caption h1 {
  font-family: 'Inter', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  color: white;
  text-align: left;
}

.People-of-the-Revolution .caption p {
  font-size: 1em;
  line-height: 1.5;
}

.People-of-the-Revolution-art-column {
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.People-of-the-Revolution-art-column img {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
}

/* TÌNH YÊU THỜI CHIẾN */

.Love.Stories.of.the.War {
    max-width: 1350px; 
    margin: 60px auto;
    padding: 0 0.5vw;
}

.Love.Stories.of.the.War h1 {
    font-family: 'Playball', cursive;
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 20px;
    color: black;
    display: inline-block;
}

.Love.Stories.of.the.War a {
    text-decoration: none;
    color: black; 
    font-size: 1em;
    font-weight: 500;
    margin-left: 20px;
}

.Love.Stories.of.the.War a:hover {
    text-decoration: underline;
}
.love-story-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  max-height: 50vh;
  justify-content: space-between;
}
.love-story-item {
    width: 24%;
    vertical-align: top;
    padding: 10px;
    margin-right: 1%;
}

.love-story-item img {
    width: 100%;
    height: 40%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.love-story-item h2 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.3;
}

.love-story-item p {
    font-size: 0.9em;
    color: #555;
    line-height: 1.4;
}


/* NHỮNG CON SỐ */

.Numbers-dont-lie {
    background-color: #2F3640;
    color: white;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 40px;
}

.Numbers-dont-lie h1 {
    font-family: 'Playball', cursive;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 10px;
    color: #FFC312;
}

.Numbers-dont-lie a {
  text-decoration: none;
}

.Numbers-dont-lie > p {
    max-width: 800px;
    margin: 0 auto 40px auto;
    font-size: 1em;
    line-height: 1.6;
    padding: 0 20px;
}

.Numbers-dont-lie .number-item {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 2% 1%;
    vertical-align: top;
}

.Numbers-dont-lie .number-item h2 {
    font-size: 2.2em;
    font-weight: 800;
    color: #FFC312;
    margin-bottom: 5px;
}

.Numbers-dont-lie .number-item p {
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.3;
}

.Numbers-dont-lie .numbers-img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


/* GIAI ĐOẠN LỊCH SỬ */

.Historical-stage {
    position: relative;
    width: 80vw;
    max-width: 1350px; 
    margin: 40px auto 60px auto;
    padding: 0 0.5vw;
}

.Historical-stage h1{
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 30px;
    color: black;
}

.stage-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.stage-collumn {
    width: 25%;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

.stage-collumn h2 {
    font-size: 1.2em;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    text-align: left;
}

.stage-collumn h2::before{
  display: inline;
  content: "";
  border-left: 5px solid black;
  margin-right: 10px;
}

.stage-collumn img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.stage-item {
    text-align: left;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #CCCCCC;
}
.stage-item:last-child {
    border-bottom: none;
}

.stage-item h3 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.3;
}

.stage-item p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
    line-height: 1.4;
}

.stage-item a {
    text-decoration: none;
    color: #CC0000;
    font-size: 0.9em;
    font-weight: 500;
}
.stage-item a:hover {
    text-decoration: underline;
}

/* PADORAMA */
.padorama{
  position: relative;
  width: 100vw;
  max-width: none;
  display: block;
  margin: 40px 0;
  padding: 0;
}
.padorama img{
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  object-fit: cover;
}