* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    width: 90%; 
    max-width: 1700px;
    margin: 0 auto;
    padding-top: 20px;
}

.search-bar {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #666666;
    border-radius: 8px;
}
.search-bar button{
    font-size: 25px;
}

.version {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-content .version nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6em;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #666666;
}

.table-content .version nav h2 {
    font-size: 16px;
}

.table-content .version nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8em;
}

.table-content .version nav ul li a {
    font-family:'Courier New', Courier, monospace ;
    font-weight: 500;
    color: black;
}

.details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.details .history {
    padding: 5px;
    width: 400px;
    height: auto;

}

.details .history h2{
    font-size: 18px;
    margin-bottom: 15px;
}

.details .history ul li {
    margin-bottom: 10px; 
}

.details .history ul li a {
    color: #000;
    font-size: 14px;
}